

.app{
  bottom: 2;
  padding: 0;
  height: 800px; 
  object-fit: contain;
  background-repeat: no-repeat
}

.container {
  text-align: center;
  color: red;
  
}
.voice{
  text-align: center;
  color: white;
}


