.app{
  bottom: 2;
  padding: 0;
  height: 800px; 
  object-fit: contain;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  background-repeat: no-repeat
}

.box {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: red;
  
}
.voice{
  padding-top: 20px;
  text-align: center;
  color: white;
}

